.main {
  @include window-style();

  & h2 {
    display: inline-block;
    padding-bottom: rem(10px);
    border-bottom: 2px solid var(--primary-color2);
  }

  /* button {
    text-align: center;
    margin-top: 20px;
    width: 30%;
  } */
}
