*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(img1.webp);
    background-size: 40%;
}

.c-pg,
.c-input,
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    text-align: center;
}

.c-input{
    margin-top: 40px;
    margin-bottom: 10px;
    padding-right: 68px; /* padding 20px + icon 48px */
    display: flex;
    justify-content: start;
    gap: 20px;
}

.c-input > img {
    position: absolute;
    right: 20px;
}

.input-txt,
.change-page{
    border: 5px double black;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
}

.change-page {
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}

#page-start {
    margin-left: 40px;
    border-radius: 0 50% 50% 0;
}

#page-previous {
    border-radius: 0 50% 50% 50%;
}

#page-next {
    margin-right: 40px;
    border-radius: 50% 0 50% 50%;
    /* transform: rotate(45deg); */
}

#tv,
#movie{
    border-radius: 20px;
    /* padding-left: 40px;
    padding-right: 40px; */
    width: 100px;
}

.change-page:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.75);
}

.c-pg {
    margin: 0 0 0 100px;
    padding: 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* CARD */
.card {
    position: relative;
    margin: 40px auto;
    width: 250px;
    /* height: 400px; */
    box-shadow: 0 0 10px black;
    background-color: rgba(255, 255, 255, 0.5);
    }

.description-card,
.card {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card__title {
    font-size: 0.9rem;
}

.card__img {
    max-width: 80%;
}

.card__vote {
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(199, 183, 37);
    padding: 5px 15px;
    background-color: rgba(253, 246, 183, 0.8);
}

.card__price {
    border-bottom: 1px solid rgba(0, 0, 0, 0.655);
}

/* DESCRIPTION */
.description-card{
    display: none;
    position: absolute;
    border: 10px double black;
    box-shadow: 0 0 15px inset black;
    width: 100%;
    height: 100%;
    background-color: rgb(237, 237, 226);
    font-size: 0.7rem;
    gap: 40px;
}

.c-arrow {
    position: absolute;
    bottom: -40px;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    background-color: rgba(255, 255, 255, 0.35);
}

.arrow-description {
    width: 50px;
    height: 50px;
}