.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 30%;

  h3 {
    margin-bottom: rem(5px);
  }
  input,
  select {
    padding: rem(5px) rem(10px);
    @include bg-input();
  }

  select {
    option {
      background-color: var(--color-10);
    }
  }
}
