.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 5px double #eac567;
  padding: 30px;
  width: 100px;
  font-size: 2.5rem;
  color: #eac567;
  background-color: rgba(218, 165, 32, 0.05);
}

.container-count-btn {
  display: flex;
  gap: 10px;
}
.container-count-btn > button {
  aspect-ratio: 1 / 1;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: 1px solid #eac567;
  border-radius: 25%;
  color: #eac567;
}

#random {
  padding: 10px;
  width: 80px;
  border-radius: 50%;
  transition: all 1.8s;
}

#random:hover {
  transform: rotate(360deg) scaleX(1.8) scaleY(1.1);
}

button:disabled {
  border-color: #7598dd;
  color: #7598dd;
  opacity: 0.6;
}
