.header {
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0px 10px var(--GrayishBlue);
  padding: 15px;
  width: 100%;
  background-color: var(--white);
}
.header > img {
  width: 50px;
}

h1 {
  text-align: center;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--DarkGrayishBlue);
}
