:root {
    --color-darkblue: rgb(24, 35, 80);
    --color-mediumblue: rgb(54,70,143);
    --color-lightblue: rgb(103,123,213);
    --color-yellow: rgb(206,161,46);
    --color-lightyellow: rgb(242, 216, 151);
}